@font-face {
  font-family: 'Inconsolata-Regular';
  src: local('Inconsolata'), url('./fonts/Inconsolata/Inconsolata-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Inconsolata-Light';
  src: local('Inconsolata'), url('./fonts/Inconsolata/Inconsolata-Light.ttf') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.canvas-container {
  width: 100%;
  height: 100vh !important;
  position: relative;
}

.webgl {
  width: 100%;
  height: 100% !important;
}

.screen-render {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 450px;
  height: 240px;
  transform: translate(-50%, -50%);
  color: rgb(0, 110, 4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inconsolata-Light';
}

.panelIO-render {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 85px;
  height: 55px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.panel-start {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  aspect-ratio: 1/1;
  background-color: rgb(0, 127, 177);
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  font-size: 4px;
  font-weight: 700;
  color: #000;
  transition: 0.3s;
}

.panel-start:hover::before {
  animation: none;
  box-shadow: 0 0 0 rgb(0, 127, 177), 0 0 0 rgb(0, 127, 177);
}

.panel-start:hover::after {
  width: 60px;
  opacity: 1;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.panel-start::before {
  content: '';
  background-color: transparent;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 127, 177, 0.1), 0 0 20px rgb(0, 127, 177, 0.1);
  animation-name: halo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.panel-start::after {
  opacity: 0;
  content: '';
  background-color: transparent;
  width: 10px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./circle.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position-x: -3px;
  transition: 0.4s;
  display: inline-block;
}

.LeftPanelJSX-render {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 140px;
  height: 75px;
  transform: skewX(12deg), translate(-50%, -50%);
  ;
  border-radius: 4px;
}

/* ANIMATIONS */
@keyframes halo {
  0% {
    box-shadow: 0 0 0px rgb(0, 127, 177, 0.5), 0 0 0 rgb(0, 127, 177, 0.1);
  }

  50% {
    box-shadow: 0 0 15px rgb(0, 127, 177, 0.5), 0 0 20px rgb(0, 127, 177, 0.5);
  }

  100% {
    box-shadow: 0 0 0 rgb(0, 127, 177, 0.5), 0 0 0 rgb(0, 127, 177, 0.5);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(1deg), translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg), translate(-50%, -50%);
  }
}
